h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
}

p {
    font-family: 'Salsa', cursive;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-thickness: 4px;
    line-height: 2;
}

.lorem{
    border: 2px solid red;
    width: 100px;
    /* word-break:break-all; */
    text-overflow:ellipsis;
    overflow: hidden;
}