.container{
    background-color: antiquewhite;
    height: 50vh;
    width: 50vw;
}

.box{
    background-color: deepskyblue;
    height: 10vh;
    width: 10vw;
    /* transition-property: transform;
    transition-duration:3s;
    transition-timing-function:ease-in-out ;
    transition-delay: 1s; */
    transition: transform 3s ease-in-out 1s;
}

.translate{
    transform: translateX(10vw) translateY(10vh);
}